@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root{
    /*Colors*/
    --background-color:linear-gradient(0deg, #000000f3, #202d58);
    --button-link-1: #cdd3eace;
    --button-border-link-1: white;
    --buttons-links: #7e849699;
    --color-h1: white;
    --color-p: white;
    --img-perfil: url(../img/img1.jpeg);

    /*Sizes*/
    --size-p:1.2rem;
    --size-h1:1.7rem;
    --size-heigt-buttons-links:3rem;
    --size-width-buttons-links:17rem;
    --size-icons-buttons: 1.6rem;
    --size-heigt-width-img-perfil: 15rem;




}
body {
    background-image: var(--background-color) ;/* angulo  cor1  cor 2*/
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
                                        
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.img_perfil{
    width: var(--size-heigt-width-img-perfil) ;
    height: var(--size-heigt-width-img-perfil);
    margin: 0 0 25px 0;
    background-image: var(--img-perfil);
    background-size: cover;
    background-position:  20% 15%;
    border-radius: 500%;
}

.div_bottons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    border-radius: 4px;
    background-color:var(--buttons-links) ;
    margin: 0 0 15px 0 ;
    height: var(--size-heigt-buttons-links);
    width: var(--size-width-buttons-links);
    border: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button_link1{
    background-color: var(--button-link-1);
    margin: 0 0 0px 0 ;
    
}

.border_button_link1{
    border: var(--button-border-link-1) solid 0.5px;
    padding: 2px;
    border-radius: 6px;
    margin: 0 0 15px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icons_bottons{
    width: var(--size-icons-buttons);
    margin: 0 0 0 20%;

}

h1{
    font-size: var(--size-h1);
    color: var(--color-h1);
    font-family: "Poppins", sans-serif ;
    font-weight: 300;
    margin: 0 0 25px 0 ;
}

p{
    font-size: var(--size-p);
    color: var(--color-p);
    font-family: sans-serif ;
    font-weight: 400;
    margin: 0 0 0 20px;

}

